SUPABASE_URL="https://vqqljqgcvhpapfpxvccy.supabase.co"
SUPABASE_SERVICE_KEY=y"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxcWxqcWdjdmhwYXBmcHh2Y2N5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODY2NjIxOCwiZXhwIjoyMDY0MjQyMjE4fQ.TeHoKJP3MJ_zZd8xVWkDMMngAVvOPLQpbsLi6_8HINM" 